<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>com.google.gwt.killers.server.GreetingServiceImpl
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DataServiceImpl</servlet-name>
		<servlet-class>com.google.gwt.killers.server.DataServiceImpl
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ImporterServiceImpl</servlet-name>
		<servlet-class>com.google.gwt.killers.server.ImporterServiceImpl
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/killersproject/greet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DataServlet</servlet-name>
		<url-pattern>/killersproject/Dataset</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ImporterServlet</servlet-name>
		<url-pattern>/killersproject/Importer</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>KillersProject.html</welcome-file>
	</welcome-file-list>

</web-app>
